:root {
    --color-primary: #e30613;
    --color-primary-hover: #c70511;

    --color-secondary: #111827;

    --color-success: #16a34a;
    --color-warning: #d97706;
    --color-danger: #dc2626;

    --text-primary: #1f2937;
    --text-secondary: #6b7280;

    --bg-page: #f5f6fa;
    --bg-card: #ffffff;

    --border-color: #e5e7eb;

    --shadow-card: 0 8px 20px rgba(0, 0, 0, 0.08);

    --radius-sm: 7px;
    --radius-md: 12px;
    --radius-lg: 16px;
}